body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.complex{
	width:75%;
	border:0.75pt solid #000000;
	border-collapse:collapse;
	margin: auto;
}

.tops{
	height:27pt;
}

.ones{
	height: 12.5pt;
}
